@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* { font-family: 'Lato', sans-serif; }

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background: #fff;
}

p, li, a { font-weight: 100; font-size: 1.2rem; color: #6c757d; text-align: justify;}

h3 { font-weight: 400; font-size: 1.8rem; color: #4a5157;}

section {
    width: 100%;
    min-height: 90%;
    display: flexbox;
    padding: 0.5rem;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer {
    position: relative;
    padding: .5rem;
    text-align: center !important;
}

footer a {
    font-size: 0.8rem !important;
    font-weight: 300;
    color: #3e3e3f;
}


.hidden {
    display: none;
    visibility: hidden;
    height: 0;
}

.appLogo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginBase {
    margin-top: 3rem;
}

.loginBase .btn-about {
    float: right;
}

/* overwritting bootstrap */
#loginScreen .content, #menuScreen .content,
#cadScreen .content, #downloadScreen .content,
#editalLstScreen .content, #empLstScreen .content
{
    max-width: 15rem; 
    margin-top: 4.5rem;
    /* Centralizando */
    margin-left: auto;
    margin-right: auto;
}

#downloadScreen .btn {
    width: 100%;
    margin-top: 2rem;
}

.navbar-text {
    font-weight: 400;
    font-size: 1.8rem;
    color: #4a5157;
    right: 1rem;
}

.navbar.fixed-top + .content {
    margin-top: 4.5rem;
}

label {
    color:#6c757d;
}

.form-control {
	background-color:#ffffff;
	border-radius:10px;
	border:3px solid #6c757d;
	color:#6c757d;
}

.btn_menu {
    margin-bottom: 0.8rem;
    width: 15rem;
	background-color:#ffffff;
	border-radius:10px;
	border:3px solid #6c757d;
	display:block;
	color:#6c757d !important;
	padding:16px 68px;
}

.btn_menu:visited {
    color: #6c757d;
}

.btn_menu:active {
    background: #4a5157;
    color: #fff;
}

.btn_menu:hover {
    background: #6c757d;
    color: #fff !important;
    font-weight: 600;
}
