html, body, section {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background: #fff;
}

section {
    display: flexbox;
    padding: 0.5rem;
    
}

.hide {
    display: none;
    visibility: hidden;
    height: 0;
}

.appLogo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* overwritting bootstrap */

.btn {
    
}